<a href="https://colab.research.google.com/github/pridnt/cesar_engdados_icd/blob/master/notebooks/data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Coleta de dados

In [0]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/pridnt/cesar_engdados_icd/master/data/AppleStore.csv", encoding = "ISO-8859-1")

In [5]:
# Overview dos dados
df.head()

   Unnamed: 0         id  ... lang.num  vpp_lic
0           1  281656475  ...       10        1
1           2  281796108  ...       23        1
2           3  281940292  ...        3        1
3           4  282614216  ...        9        1
4           5  282935706  ...       45        1

[5 rows x 17 columns]

In [6]:
# Dimensões do datadrame
df.shape

(7197, 17)

## Pré-processamento dos dados

**1.   Definição dos tipos**

In [7]:
df.dtypes

Unnamed: 0            int64
id                    int64
track_name           object
size_bytes            int64
currency             object
price               float64
rating_count_tot      int64
rating_count_ver      int64
user_rating         float64
user_rating_ver     float64
ver                  object
cont_rating          object
prime_genre          object
sup_devices.num       int64
ipadSc_urls.num       int64
lang.num              int64
vpp_lic               int64
dtype: object

In [0]:
# Ajustando tipos dos dados
df['currency'] = df['currency'].astype('category')
df['cont_rating'] = df['cont_rating'].astype('category')
df['prime_genre'] = df['prime_genre'].astype('category')

In [10]:
df.dtypes

id                     int64
track_name            object
size_bytes             int64
currency            category
price                float64
rating_count_tot       int64
rating_count_ver       int64
user_rating          float64
user_rating_ver      float64
ver                   object
cont_rating         category
prime_genre         category
sup_devices.num        int64
ipadSc_urls.num        int64
lang.num               int64
vpp_lic                int64
dtype: object

In [11]:
df['currency'].cat.categories

Index(['USD'], dtype='object')

In [12]:
df['cont_rating'].cat.categories

Index(['12+', '17+', '4+', '9+'], dtype='object')

In [13]:
df['prime_genre'].cat.categories

Index(['Book', 'Business', 'Catalogs', 'Education', 'Entertainment', 'Finance',
       'Food & Drink', 'Games', 'Health & Fitness', 'Lifestyle', 'Medical',
       'Music', 'Navigation', 'News', 'Photo & Video', 'Productivity',
       'Reference', 'Shopping', 'Social Networking', 'Sports', 'Travel',
       'Utilities', 'Weather'],
      dtype='object')

**2.   Tratamento dos dados ausentes**

In [0]:
df = df.drop(columns=['Unnamed: 0'])

In [14]:
df.isnull().sum()

id                  0
track_name          0
size_bytes          0
currency            0
price               0
rating_count_tot    0
rating_count_ver    0
user_rating         0
user_rating_ver     0
ver                 0
cont_rating         0
prime_genre         0
sup_devices.num     0
ipadSc_urls.num     0
lang.num            0
vpp_lic             0
dtype: int64

**3.   Normalização e discretização**

In [0]:
df.describe()

                 id    size_bytes  ...     lang.num      vpp_lic
count  7.197000e+03  7.197000e+03  ...  7197.000000  7197.000000
mean   8.631310e+08  1.991345e+08  ...     5.434903     0.993053
std    2.712368e+08  3.592069e+08  ...     7.919593     0.083066
min    2.816565e+08  5.898240e+05  ...     0.000000     0.000000
25%    6.000937e+08  4.692275e+07  ...     1.000000     1.000000
50%    9.781482e+08  9.715302e+07  ...     1.000000     1.000000
75%    1.082310e+09  1.819249e+08  ...     8.000000     1.000000
max    1.188376e+09  4.025970e+09  ...    75.000000     1.000000

[8 rows x 11 columns]

In [15]:
df['size_bytes'].value_counts()

31624192     3
16411648     2
63474688     2
65560576     2
83196928     2
            ..
200816640    1
629813248    1
150786048    1
578062336    1
145293312    1
Name: size_bytes, Length: 7107, dtype: int64

In [0]:
from numpy import log10
df['size_bytes_log'] = log10(df['size_bytes'])
df['size_bytes_log'].hist()

**4.   Limpeza de dados**

**4.1. Univariado**

**4.2. Multivariado**

## Estatísticas descritivas dos dados com visualizações